.cl--primary {
  color: #ffd100;
}

.cl--secondary {
  color: #00338d;
}

/* neutral */

.cl--white {
  color: white;
}

.cl--gray-xl {
  color: whitesmoke;
}

.cl--gray-l {
  color: #c5c5c5;
}

.cl--gray {
  color: #919191;
}

.cl--gray-d {
  color: #616365;
}

.cl--gray-xd {
  color: #3f3f3f;
}

.cl--black {
  color: #0f0f0f;
}

.cl--a-error {
  color: #ad020c;
}

.cl--a-sale-active {
  color: red;
}

.cl--a-sale-default {
  color: #ff6666;
}

.cl--a-sale-remove {
  color: #ff4747;
}

/* fonts */

.h1 {
  font-size: 56px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 26px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 18px;
}

.subtitle1 {
  font-size: 16px;
  font-weight: 500;
}

.subtitle2 {
  font-size: 14px;
}

.font-family--secondary {
  font-family: 'Bebas Neue', cursive;
}

.font-family--primary {
  font-family: 'Jost', sans-serif;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #0f0f0f;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

a:hover {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.btn-link {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.2) 2px solid;
  outline: none;
  color: white;
}

.btn-link:hover {
  border: #fff 2px solid;
  color: #fff;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}

.border-none {
  border: none;
}

.btn-counter {
  position: relative;
}

.btn-counter::after {
  position: absolute;
  top: -5px;
  right: -2px;
  content: "5";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-align: center;
  background: #000;
}

.intro {
  padding-bottom: 130px;
}

.intro-txt--attention {
  margin-top: 64px;
  margin-bottom: 135px;
}

.intro-txt__title {
  letter-spacing: 2px;
}

.btn-group {
  margin-top: 20px;
}

.circle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 6px 12px;
}

.intro-img-container {
  padding-top: 200px;
}
@supports (-webkit-appearance:none){

}
